@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ng Route Example</h1>
    <p class="lead">Click below to enter view controlled by ngRoute</p>
    <p><a href="@Url.Action("NgRouteExample")" class="btn btn-primary btn-lg">Click me!</a></p>
</div>

